{% extends 'base.html' %}
{% load static %}


{% block content %}
  <h1>Questions</h1>

  {% for question in questions %}
   {% include 'components/question_item.html' %}
  {% endfor %}
  
  <nav aria-label="..." style="margin-top: 50px;">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{% page %}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  {% endblock %}

