<!doctype html>
<html lang="en" class="h-100">
  <head>

    

    <!-- Bootstrap core CSS -->

<link href="../static/css/css/bootstrap.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="logo">AskMe</div>
                    </div>
        
                    <div class="col-6" style="margin-top: 15px;">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
        
                    <div class="col-4">
                        <!-- зарегистрирован -->
                        <div class="row">
                            <div class="col-2">
                                <img src="../static/img/3d2e2a2bbc8cd734e2ba07f2618930ff.jpg" alt="" class="avatar-image">
                            </div>
                            <div class="col-10" style="margin-top: 10px;">
                                <div class="username">Mickey O'Nil</div>

                                <span class="settings"><a href="" style="text-decoration: none; color: black; font-size: 20px;">Settings</a></span>
                                <span class="log-outin" style="margin-left: 15px;"><a href="" style="text-decoration: none; color: black; font-size: 20px;">Log out</a></span>
                            </div>
                        </div>
        
                        <!-- не зарегистрирован -->
                        <!-- <div class="row login-register" style="margin-left: 15px; margin-top: 15px;">
                            <div class="col-8" style="padding-left: 220px;">
                              <span class="settings"><a href="" style="text-decoration: none; color: black; font-size: 20px;">Register</a></span>
                            </div>
                            <div class="col-4" style="padding-left: 50px;">
                              <span class="log-outin"><a href="" style="text-decoration: none; color: black; font-size: 20px;">Log in</a></span>
                            </div>
                        </div> -->
        
                    </div>
                </div>
            </div>
        </div>
      </nav>
    </header>


<main class="flex-shrink-0">
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-8">
        <h1>Questions</h1>
        <div class="row question">
          <div class="col-3">
            <img src="../static/img/fc18948ced9e5dd36e4d305d8a7c66f0.jpg" alt="" class="question-image">
            <div class="qty mt-5">
              <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
          </div>
          </div>
          <div class="col-9">
            <div class="question-title"><a href="">First question</a></div>
            <div class="question-text">Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life
              Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life</div>
              <div class="row answers">
                <div class="col-6">
                  <button type="button" class="btn btn-primary">
                    Answers <span class="badge text-bg-secondary">4</span>
                  </button>
                </div>
                <div class="col-6">
                  <div class="tags-question" style="margin-top: 10px;">
                    <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
                    <span class="first tag>"><a href="">first tag</a></span>
                    <span class="first tag>"><a href="">second tag</a></span>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row question">
          <div class="col-3">
            <img src="../static/img/624a2fda3e0da8e55b4ea60b0949affa.jpg" alt="" class="question-image">
            <div class="qty mt-5">
              <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
          </div>
          </div>
          <div class="col-9">
            <div class="question-title"><a href="">Second question</a></div>
            <div class="question-text">Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life
              Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life</div>
              <div class="row answers">
                <div class="col-6">
                  <button type="button" class="btn btn-primary">
                    Answers <span class="badge text-bg-secondary">4</span>
                  </button>
                </div>
                <div class="col-6">
                  <div class="tags-question" style="margin-top: 10px;">
                    <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
                    <span class="first tag>"><a href="">first tag</a></span>
                    <span class="first tag>"><a href="">second tag</a></span>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row question">
          <div class="col-3">
            <img src="../static/img/7bb52b8cc97a04ef51ecef3138dcd0cb.jpg" alt="" class="question-image">
            <div class="qty mt-5">
              <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
          </div>
          </div>
          <div class="col-9">
            <div class="question-title"><a href="">Third question</a></div>
            <div class="question-text">Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life
              Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life</div>
              <div class="row answers">
                <div class="col-6">
                  <button type="button" class="btn btn-primary">
                    Answers <span class="badge text-bg-secondary">4</span>
                  </button>
                </div>
                <div class="col-6">
                  <div class="tags-question" style="margin-top: 10px;">
                    <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
                    <span class="first tag>"><a href="">first tag</a></span>
                    <span class="first tag>"><a href="">second tag</a></span>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row question">
          <div class="col-3">
            <img src="../static/img/a25b2d4b0d3d68a16b749661de69aad1.jpg" alt="" class="question-image">
            <div class="qty mt-5">
              <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
          </div>
          </div>
          <div class="col-9">
            <div class="question-title"><a href="">Fourth question</a></div>
            <div class="question-text">Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life
              Take me to church
              I'll worship like a dog at the shrine of your lies
              I'll tell you my sins and you can sharpen your knife
              Offer me that deathless death
              Good God, let me give you my life</div>
              <div class="row answers">
                <div class="col-6">
                  <button type="button" class="btn btn-primary">
                    Answers <span class="badge text-bg-secondary">4</span>
                  </button>
                </div>
                <div class="col-6">
                  <div class="tags-question" style="margin-top: 10px;">
                    <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
                    <span class="first tag>"><a href="">first tag</a></span>
                    <span class="first tag>"><a href="">second tag</a></span>
                  </div>
                </div>
              </div>
          </div>
        </div>


      </div>
      <div class="col-4">
        <div class="row">
          <h2>Popular tags</h2>
          <div class="tags">
            <span class="badge bg-primary">Python</span>
            <span class="badge bg-secondary">CSS</span>
            <span class="badge bg-success">Swift</span>
            <span class="badge bg-danger">JS</span>
            <span class="badge bg-warning">C++</span>
          </div>

          <br/>
          <h2>Best members</h2>
          <ul class="list-group" style="max-width: 250px; margin-left: 15px;">
            <li class="list-group-item"><a href="">An first item</a></li>
            <li class="list-group-item"><a href="">An second item</a></li>
            <li class="list-group-item"><a href="">An third item</a></li>
            <li class="list-group-item"><a href="">An fourth item</a></li>
            <li class="list-group-item"><a href="">An fifth item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> -->


<nav aria-label="Page navigation example" style="margin-top: 50px; margin-left: 100px; margin-top: 20px;">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only"></span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only"></span>
      </a>
    </li>
  </ul>
</nav>

<script src="../static/css/js/bootstrap.js"></script>

      
  </body>
</html>
