{% extends 'base.html' %}

{% block content %}
  <h1>Log In</h1>
  <div class="error" style="color: red;">Sorry, this password is too short!</div>

  <div class="row g-3 align-items-center" style="margin-top: 20px;">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Login</label>
    </div>
    <div class="col-auto">
        <input type="login" class="form-control" id="exampleFormControlInput1" placeholder="Your login..." style="max-width: 225px; margin-left: 35px;">
    </div>
  </div>

  <div class="row g-3 align-items-center" style="margin-top: 20px;">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Password</label>
    </div>
    <div class="col-auto">
      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Your password..." style="max-width: 250px;">
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Must be 8-20 characters long.
      </span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top: 20px;">
    Log In!
  </button>

  <div class="new">
    <a href="">create new account</a>
  </div>


{% endblock %}