{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row">
      <div class="col-3">
        <img src="{{ question.profile_id.avatar.url }}" alt="" class="question-image">
        <h5>{{ question.profile_id }}</h5>
        <div class="qty mt-5">
          {% include 'components/like_dislike.html' %}
        </div>
      </div>
      <div class="col-9">
        <h1>{{ question.title }}</h1>
        <div class="question-text">{{ question.text }}</div>
          <div class="row answers">
            
              <div class="tags-question" style="margin-top: 10px;">
                <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
                {% for tag in question.tags.all %}
                  <a href="{% url 'tag' tag %}"> {{ tag }}</a>
                {% endfor %}
              </div>
            
          </div>
      </div>
    </div>

    <hr>

    {% for answer in answers %}
    {% include 'components/answer_item.html' %}
    {% endfor %}

    {% include 'components/paginator_answers.html' %}


    <hr>

    <div class="form-outline">
      <label class="form-label" for="textAreaExample">Maybe you can answer?</label>
      <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="Enter the answer..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top: 20px;">
      Answer!
    </button>

{% endblock %}