<!doctype html>
<html lang="en" class="h-100">
  <head>

    

    <!-- Bootstrap core CSS -->

<link href="../static/css/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                      <!-- <svg class="icon icon---2023-10-25--014108"><use xlink:href="#icon---2023-10-25--014108"></use></svg> -->
                        <div class="logo">AskMe</div>
                    </div>
        
                    <div class="col-6" style="margin-top: 15px;">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
        
                    <div class="col-4">
                        <!-- не зарегистрирован -->
                        <div class="row login-register" style="margin-left: 15px; margin-top: 15px;">
                            <div class="col-8" style="padding-left: 220px;">
                              <span class="settings"><a href="" style="text-decoration: none; color: black; font-size: 20px;">Register</a></span>
                            </div>
                            <div class="col-4" style="padding-left: 50px;">
                              <span class="log-outin"><a href="" style="text-decoration: none; color: black; font-size: 20px;">Log in</a></span>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
        <div class="container" style="margin-top: 50px;">
          <div class="row">
            <div class="col-8">
              <h1>Registration</h1>

              <div class="error" style="color: red;">Sorry, this email address already registered!</div>

              <div class="row g-3 align-items-center" style="margin-top: 20px;">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Login</label>
                </div>
                <div class="col-auto">
                    <input type="login" class="form-control" id="exampleFormControlInput1" placeholder="Your login..." style="max-width: 225px; margin-left: 95px;">
                </div>
              </div>

              <div class="row g-3 align-items-center" style="margin-top: 20px;">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Email</label>
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@mail.ru" style="max-width: 225px; margin-left: 95px;">
                </div>
              </div>

              <div class="row g-3 align-items-center" style="margin-top: 20px;">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Nickname</label>
                </div>
                <div class="col-auto">
                    <input type="nick" class="form-control" id="exampleFormControlInput1" placeholder="Your nick..." style="max-width: 225px; margin-left: 55px;">
                </div>
              </div>

              <div class="row g-3 align-items-center" style="margin-top: 20px;">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Password</label>
                </div>
                <div class="col-auto">
                  <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Your password..." style="max-width: 225px;  margin-left: 55px;">
                </div>
                <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Must be 8-20 characters long.
                  </span>
                </div>
              </div>

              <div class="row g-3 align-items-center" style="margin-top: 20px;">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Repeat assword</label>
                </div>
                <div class="col-auto">
                  <input type="repassword" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Your password again..." style="max-width: 255px;">
                </div>
              </div>

              <div class="row g-3 align-items-center" style="margin-top: 20px;">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label" style="font-size: 18px; font-weight: bolder;">Upload Avatar</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="file" id="formFile" style="max-width: 300px;  margin-left: 15px;">
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top: 20px;">
                Register!
              </button>
                
            </div>

            <div class="col-4">
              <div class="row">
                <h2>Popular tags</h2>
                <div class="tags">
                  <span class="badge bg-primary">Python</span>
                  <span class="badge bg-secondary">CSS</span>
                  <span class="badge bg-success">Swift</span>
                  <span class="badge bg-danger">JS</span>
                  <span class="badge bg-warning">C++</span>
                </div>
      
                <br/>
                <h2>Best members</h2>
                <ul class="list-group" style="max-width: 250px; margin-left: 15px;">
                  <li class="list-group-item"><a href="">An first item</a></li>
                  <li class="list-group-item"><a href="">An second item</a></li>
                  <li class="list-group-item"><a href="">An third item</a></li>
                  <li class="list-group-item"><a href="">An fourth item</a></li>
                  <li class="list-group-item"><a href="">An fifth item</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </main> 



<script src="../static/css/js/bootstrap.js"></script>

      
  </body>
</html>
