{% extends 'base.html' %}

{% block content %}
  <h1>Tag: adrenaline</h1>
  <div class="row question">
    <div class="col-3">
      <img src="../static/img/fc18948ced9e5dd36e4d305d8a7c66f0.jpg" alt="" class="question-image">
      <div class="qty mt-5">
        <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
    </div>
    </div>
    <div class="col-9">
      <div class="question-title"><a href="">First question</a></div>
      <div class="question-text">Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life
        Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life</div>
        <div class="row answers">
          <div class="col-6">
            <button type="button" class="btn btn-primary">
              Answers <span class="badge text-bg-secondary">4</span>
            </button>
          </div>
          <div class="col-6">
            <div class="tags-question" style="margin-top: 10px;">
              <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
              <span class="first tag>"><a href="">adrenaline</a></span>
              <span class="first tag>"><a href="">second tag</a></span>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="row question">
    <div class="col-3">
      <img src="../static/img/624a2fda3e0da8e55b4ea60b0949affa.jpg" alt="" class="question-image">
      <div class="qty mt-5">
        <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
    </div>
    </div>
    <div class="col-9">
      <div class="question-title"><a href="">Second question</a></div>
      <div class="question-text">Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life
        Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life</div>
        <div class="row answers">
          <div class="col-6">
            <button type="button" class="btn btn-primary">
              Answers <span class="badge text-bg-secondary">4</span>
            </button>
          </div>
          <div class="col-6">
            <div class="tags-question" style="margin-top: 10px;">
              <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
              <span class="first tag>"><a href="">first tag</a></span>
              <span class="first tag>"><a href="">adrenaline</a></span>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="row question">
    <div class="col-3">
      <img src="../static/img/7bb52b8cc97a04ef51ecef3138dcd0cb.jpg" alt="" class="question-image">
      <div class="qty mt-5">
        <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
    </div>
    </div>
    <div class="col-9">
      <div class="question-title"><a href="">Third question</a></div>
      <div class="question-text">Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life
        Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life</div>
        <div class="row answers">
          <div class="col-6">
            <button type="button" class="btn btn-primary">
              Answers <span class="badge text-bg-secondary">4</span>
            </button>
          </div>
          <div class="col-6">
            <div class="tags-question" style="margin-top: 10px;">
              <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
              <span class="first tag>"><a href="">adrenaline</a></span>
              <span class="first tag>"><a href="">second tag</a></span>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="row question">
    <div class="col-3">
      <img src="../static/img/a25b2d4b0d3d68a16b749661de69aad1.jpg" alt="" class="question-image">
      <div class="qty mt-5">
        <input type="number" class="count" name="qty" value="1" style="max-width: 150px; border-radius: 10px;">
    </div>
    </div>
    <div class="col-9">
      <div class="question-title"><a href="">Fourth question</a></div>
      <div class="question-text">Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life
        Take me to church
        I'll worship like a dog at the shrine of your lies
        I'll tell you my sins and you can sharpen your knife
        Offer me that deathless death
        Good God, let me give you my life</div>
        <div class="row answers">
          <div class="col-6">
            <button type="button" class="btn btn-primary">
              Answers <span class="badge text-bg-secondary">4</span>
            </button>
          </div>
          <div class="col-6">
            <div class="tags-question" style="margin-top: 10px;">
              <span class="first tag>" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Tags:</span>
              <span class="first tag>"><a href="">first tag</a></span>
              <span class="first tag>"><a href="">adrenaline</a></span>
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock %}