<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <nav aria-label="Page navigation example" id="paginator">
            <ul class="pagination">

                {% if answers.has_previous %}
                    <li class="page-item enabled">
                        <a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}


                {% if answers.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">{{ answers.previous_page_number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% endif %}


                {% if answers.number != 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ questions.number }}">{{ answers.number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                {% endif %}


                {% if answers.next_page_number >= 3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">{{ answers.next_page_number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                {% endif %}


                {% if answers.has_next %}
                    <li class="page-item enabled">
                        <a class="page-link" href="?page={{ answers.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
    <div class="col-4"></div>
</div>